body {
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -webkit-user-select: none;
    touch-action: none;
    -webkit-touch-callout: none;
}

body > * {
    pointer-events: auto;
    /* overflow:hidden is necessary to prevent unintentional native scrolling/zooming within iOS safari app */
    /* but we should limit its scope as much as possible instead of adding it here */
}

/* necessary to prevent native scrolling/zooming within iOS safari app */
.canvas-node-connections {
    overflow: hidden;
}

/* necessary to prevent native scrolling/zooming within iOS safari app */
.canvas-main-threejs {
    overflow: hidden;
}

#UIButtons > * {
    cursor: pointer;
}

.hiddenDesktopButton {
    display: none; /* totally hide this button on desktop because it doesn't do anything */
}

#canvas {
    background-color: transparent;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0.1, 1);
    pointer-events: auto;
}

#interactionCursor {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    /*border: 3px solid cyan;*/
    display: none;
}

#staticInteractionCursor {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    display: none;
    opacity: 0.3;
}

#mainThreejsCanvas {
    pointer-events: auto !important;
}

.blockIconTinted {
    background-color: rgba(100,255,255,0.25) !important; /*on remote operator, override background to have more contrast*/
}

.desktopMenuBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0, 0.9);
    color: lightgray;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 3000, 1);
    z-index: 3000;
}

.desktopMenuBarMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.desktopMenuBarMenuTitle {
    height: 30px;
    text-align: left;
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.desktopMenuBarMenuTitle:hover {
    background-color: rgba(255,255,255, 0.1);
}

.desktopMenuBarMenuTitleOpen {
    background-color: rgba(255,255,255, 0.2) !important;
}

.desktopMenuBarMenuDropdown {
    /* TODO: how to best adapth width of menubar to comfortably fit contents? (not an issue now, but may want to) */
    width: 250px;
    background-color: rgba(0,0,0, 0.9);
    border-radius: 5px;
    overflow: hidden;
}

.desktopMenuBarLight {
    background-color: rgba(64,170,29,0.9);
}

.hiddenDropdown {
    display: none;
}

.desktopMenuBarItem {
    width: 100%;
    padding-left: 10px;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
}

.desktopMenuBarItem:hover {
    background-color: rgba(255,255,255, 0.1);
}

.desktopMenuBarItemTextToggle {
    padding-left: 20px;
}

.desktopMenuBarItemDisabled {
    cursor: not-allowed;
    color: gray;
}

.desktopMenuBarItemCheckmark {
    position: absolute;
    left: 10px;
    top: 0;
}

.desktopMenuBarItemCheckmarkHidden {
    visibility: hidden;
}

.desktopMenuBarItemCheckmarkDisabled {
    opacity: 0.5;
}

.desktopMenuBarItemShortcut {
    position: absolute;
    right: 15px;
    top: 0;
    width: 30px;
    text-align: center;
}

.desktopMenuBarItemShortcutModifier {
    position: absolute;
    right: 45px;
    top: 0;
    text-align: right;
}

.mode-prompt {
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
    width: 320px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;

    transition: opacity 0.3s ease;
}

.mode-prompt-big-font {
    font-size: 1.5em;
}

.fly-mode-prompt {
    opacity: 0;
}

.file-drop-overlay-circle {
    pointer-events: none;
    position: fixed;

    box-sizing: border-box;
    width: 120px;
    height: 120px;
    left: 0;
    top: 0;
    margin-left: -60px;
    margin-top: -60px;
    padding: 0;

    border: 4px solid #F9F90A;
    border-radius: 90px;

    /* render the touch overlay circle on top of everything */
    z-index: 6000;
    -webkit-transform-style: preserve-3d;
    transform: translateZ(6000px);
}

.file-drop-valid {
    border: 4px solid #3AF431;
    border-radius: 120px;
}

.file-drop-invalid {
    border: 4px solid #FF019F;
    border-radius: 90px;
    width: 90px;
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
}
