body {
    background-color: rgb(50,50,50);
    pointer-events: none;
}

body > * {
    pointer-events: auto;
}

#canvas {
    background-color: transparent;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, -1, 1);
    pointer-events: none;
}

#regionEventCatcher {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /*background-color: rgba(255, 0, 0, 0.1);*/
}

.remoteOperatorButton {
    position: absolute;
    border: 2px solid cyan;
    transform: translateZ(10000px);
}

.remoteOperatorButton:hover {
    background-color: rgba(0, 255, 255, 0.3);
}
.remoteOperatorButton:active {
    background-color: rgba(0, 255, 255, 0.7);
}