body {
    background-color: rgb(50,50,50);
    pointer-events: none;
}

body > * {
    pointer-events: auto;
}

#canvas {
    background-color: transparent;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0.1, 1);
    pointer-events: auto;
}

#interactionCursor {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    /*border: 3px solid cyan;*/
    display: none;
}

#staticInteractionCursor {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    display: none;
    opacity: 0.3;
}

.videoPreview {
    position: absolute;
    left: 0;
    top: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1000, 1);
    z-index: 1000;
}
