body {
    background-color: rgb(50,50,50);
    pointer-events: none;
}

body > * {
    pointer-events: auto;
}

#UIButtons > * {
    cursor: pointer;
}

#canvas {
    background-color: transparent;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0.1, 1);
    pointer-events: auto;
}

#interactionCursor {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    /*border: 3px solid cyan;*/
    display: none;
}

#staticInteractionCursor {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    display: none;
    opacity: 0.3;
}

.videoPreview {
    position: absolute;
    left: 0;
    top: 0;
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 1000, 1);
    z-index: 1000;
}

.videoPreviewContainer {
    position: absolute;
    left: 0;
    top: 0;
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 1000, 1);
    z-index: 1000;
    width: 256px;
    height: 144px;
    background-color: black;
}

.timelineBox {
    position: absolute;
    left: 0;
    top: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1000, 1);
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    border: 4px solid cyan;
    width: 100px;
    height: 100px;
}

#timelineContainer {
    position: absolute;
    left: 20px;
    top: calc(100vh - 20px - 180px);
    width: calc(100vw - 40px);
    height: 180px;
    /*pointer-events: none;*/
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 3000, 1);
}

#timelineVisibilityBox {
    position: relative;
    left: 0;
    top: 0;
    width: 120px;
    height: 100%;
}

#timelineTrackBox {
    position: absolute;
    left: calc(120px + 4px);
    top: 0;
    width: calc(100% - 120px - 60px - 2 * 4px);
    height: 100%;
}

#timelinePlayhead {
    position: absolute;
    left: 10px;
    top: calc(-20px + 4px);
    height: calc(100% + 20px);
    width: 20px;
    cursor: pointer;
}

.timelinePlayheadPlaying {
    filter: hue-rotate(-60deg) saturate(400%);
    -webkit-filter: hue-rotate(-120deg) saturate(400%);
}

.timelinePlayheadSelected {
    filter: hue-rotate(-120deg) saturate(400%);
    -webkit-filter: hue-rotate(-120deg) saturate(400%);
}

#timelineVideoPreviewContainer {
    position: absolute;
    left: -128px;
    top: -168px;
    width: 512px;
    height: 144px;
    display: none;
}

#timelineTimestampDisplay {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    text-align: center;
    height: 48px;
    color: rgb(155,255,255);
}

/*.timelineVideoPreviewHidden {*/
/*}*/

.timelineVideoPreviewPlaying {
    display: inline !important;
}

.timelineVideoPreviewSelected {
    display: inline !important;
}

.timelineVideoPreviewNoTrack {
    display: none !important;
}

.timelineVideoPreviewNoSource {
    /*display: none !important;*/
    opacity: 0.2;
}

.timelineInnerVideoNoSource {
    display: none !important;
}

.timelineTrack {
    position: absolute;
    background-color: rgba(0,255,255, 0.1);
    border-radius: 7px;
    left: 20px;
    width: calc(100% - 2 * 20px);
    cursor: pointer;
}

.timelineTrack:hover {
    background-color: rgba(0,255,255, 0.2);
}

.selectedTrack {
    background-color: rgba(0,255,255, 0.2);
    border: 2px solid rgba(0,255,255, 0.5);
    margin: -2px;
}

.timelineSegment {
    position: absolute;
    background-color: rgba(0,255,255, 0.5);
    border-radius: 5px;
    top: 0;
    height: 100%;
    z-index: 100;
}

.timelineSegment:hover {
    /*background-color: rgba(0,255,255, 0.7);*/
    /*border: 2px solid white;*/
    box-shadow: 0 0 5px black;
}

.timelineSegmentPlaying {
    background-color: rgba(150, 255, 255, 0.9);
}

.selectedSegment {
    background-color: rgba(0,255,255, 0.9);
    /*border: 2px solid rgba(255,255,255, 0.5);*/
}

#timelineControlsBox {
    position: absolute;
    left: calc(100% - 60px);
    top: 0;
    width: 60px;
    height: 100%;
}

.timelineControlButton {
    position: absolute;
    width: calc(60px - 2 * 5px);
    height: calc(60px - 2 * 5px);
    cursor: pointer;
}

.timelineControlButton:hover {
    opacity: 0.7;
}

#timelinePlayButton {
    left: 5px;
    top: 5px;
}

/*#timelineSeekButton {*/
/*    left: 5px;*/
/*    top: calc(2 * 5px + (60px - 2 * 5px));*/
/*}*/

#timelineSpeedButton {
    left: 5px;
    top: calc(2 * 5px + (60px - 2 * 5px));
    /*top: calc(3 * 5px + 2 * (60px - 2 * 5px));*/
}

.hiddenTimeline {
    display: none;
}

#colorVideoCanvas {
    position: absolute;
    left: 20px;
    top: 100px;
    width: 960px;
    height: 540px;
    transform-origin: left top;
    transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 1000, 1);
    z-index: 1000;
    background-color: rgba(255,255,255, 0.1);
}

#depthVideoCanvas {
    position: absolute;
    left: 520px;
    top: 100px;
    width: 256px;
    height: 144px;
    transform-origin: left top;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1000, 1);
    z-index: 1000;
    background-color: rgba(255,255,255, 0.1);
}

#poseCanvas {
    position: absolute;
    left: 20px;
    top: 100px;
    width: 8px;
    height: 8px;
    transform-origin: left top;
    transform: matrix3d(10, 0, 0, 0, 0, 10, 0, 0, 0, 0, 1, 0, 0, 0, 1000, 1);
    z-index: 1000;
    background-color: rgba(255,255,255, 0.2);
}
